body {
    overflow-x: hidden;
}

body .navbar-brand {
padding: 18px 0px;
}

body .navbar-brand img {
    float: left;
    width: 32px;
    margin: 12px 6px 0px 23px;
}

body .navbar-brand span {
color: #363636;
font-size: 29px;
font-weight: bold;
padding: 10px 0px 0px 3px;
display: inline-block;
}

body .navbar-brand span p:last-child {
font-size: 13px;
margin-top: -9px;
font-weight: normal;
color: #8B959B;
}

.footer {
background: #38464e;
padding-top: 25px;
}

.footer-social {
text-align: right;
}

.footer-social a {
    color: #8B959B;
}

.footer-copyright {
text-align: center;
color: #6e6e6e;
font-size: 12px;
}

/* here goes main page content */


#carousel-example-generic {
    margin-top: -20px;
}

#home-banner h2 {
    color: #FFF;
    font-size: 5em;
    margin-bottom: 5%;
    margin-top: 0px;
    padding-top: 6%;
    line-height: 1.2em;
    text-transform: uppercase;
}

#home-banner .advantages {
    margin: 50px auto 0px;
    text-align: center;
    color: #FFF;
}

#home-banner ul.expHP-benefits {
    list-style: outside none none;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 50px;
    padding-left: 0px;
}

/***/

#home-hiw h4 {
margin: 25px 0px -34px;
text-transform: uppercase;
}

#home-hiw div div{
color: #FFF;
padding: 35px 0px 0px;
font-size: 14px;
height: 543px;
}

#home-hiw div div div{
padding: 46px 24px;
line-height: 18px;
height: 144px;
}

.dl-nav .navbar-nav > li > form > button {
padding-top: 24px;
padding-bottom: 33px;
font-size: 14px;
}

#home-hiw div:nth-child(1) div{
background: #00AFD2 none repeat scroll 0% 0%;
}

#home-hiw div:nth-child(2) div{
	background:rgb(143, 181, 62);
}

#home-hiw div:nth-child(3) div{
	background:rgb(239, 157, 47);
}

#home-hiw div:nth-child(4) div{
	background:rgb(255, 82, 70);
}



#home-hiw, #home-hiw > ol > li {
    text-align: center;
    font-size: 16px;
}

#main-hiw .delivcount {
border-radius: 48px;
background: #FF7300 none repeat scroll 0% 0%;
position: absolute;
z-index: 999;
text-align: center;
color: white;
font-size: 18px;
padding: 1px 9px;
}

#main-hiw .delivcount0, #main-hiw .delivcount2, #main-hiw .delivcount4 {
top: -8px;
right: 88px; 
}

#main-hiw .delivcount1, #main-hiw .delivcount3 {
top: -22px;
right: 88px;
}


#main-hiw h2 {
padding: 0px 0px 50px 0px;
font-size: 26px;
}

#main-hiw ol > li img {
    display: block;
    margin: 0px auto 30px;
}

#main-hiw ol > li .trans12 {
background: transparent url("/img/hiw-v2_12.png") no-repeat scroll center center;
height: 21px;
width: 160px;
top: 30px;
left: 205px;
}

#main-hiw ol > li .trans {
    position: absolute;
    z-index: 1;
}

#main-hiw ol > li .trans23 {
background: transparent url("/img/hiw-v2_23.png") no-repeat scroll center center;
height: 32px;
width: 159px;
top: 23px;
left: 221px;
}

/***/

#home-hiw, #home-hiw > ol > li {
    text-align: center;
    font-size: 16px;
}


#home-hiw h2 {
padding: 0px 0px 50px 0px;
font-size: 26px;
}

#home-hiw ol > li img {
    display: block;
    margin: 0px auto 30px;
}

#home-hiw ol > li .trans12 {
    background: transparent url("/img/hiw-v2_12.png") no-repeat scroll center center;
    height: 21px;
    width: 189px;
    top: 30px;
    left: 285px;
}

#home-hiw ol > li .trans {
    position: absolute;
    z-index: 1;
}

#home-hiw ol > li .trans23 {
    background: transparent url("/img/hiw-v2_23.png") no-repeat scroll center center;
    height: 32px;
    width: 186px;
    top: 23px;
    left: 300px;
}

#home-benefits {
    padding-top: 40px;
    padding-bottom: 40px;
}

#home-benefits .row > li {
    padding: 10px 50px 30px 130px;
    background-position: left 20px;
    background-repeat: no-repeat;
    background-color: transparent;
}

#home-benefits .row > .benefit1 {
    background-image: url("/img/cheap-rates.png");
}

#home-benefits .row > .benefit2 {
    background-image: url("/img/rentable-fast.png");
}

#home-benefits .row > .benefit3 {
    background-image: url("/img/shopping-assistant.png");
}

#home-why-use {
background: rgb(242, 242, 242);
padding: 15px 0px 30px;
margin-top: 23px;
border-top: 1px solid rgb(213, 217, 218);
}

#home-why-use h2 {
text-align: center;
padding: 52px 0px 10px;
margin: 0px;
font-size: 28px;
text-transform: uppercase;
}

#home-why-use .col-md-4 {
height: 180px;
padding: 0px 20px;
}

.home-why-use2 {
	text-align: center;
text-transform: uppercase;
font-size: 12px;
padding-bottom: 40px;
}

#home-why-use h3 {
font-size: 14px;
margin: 0px;
padding: 16px 9px 20px;
text-transform: uppercase;
}

#home-why-use .row > li {
    padding: 20px 80px;
    background-position: left 20px;
    background-repeat: no-repeat;
    background-color: transparent;
    min-height: 250px;
}

#home-why-use .row > .whyuse1 {
    background-image: url("/img/whyuse1.png");   
}

#home-why-use .row > .whyuse2 {
    background-image: url("/img/whyuse2.png");   
}

#home-why-use .row > .whyuse3 {
    background-image: url("/img/whyuse3.png");   
}

#home-why-use .row > .whyuse4 {
    background-image: url("/img/whyuse4.png");   
}

#home-why-use .row > .whyuse5 {
    background-image: url("/img/whyuse5.png");   
}

#home-why-use .row > .whyuse6 {
    background-image: url("/img/whyuse6.png");   
}

#home-where {
background: #00AFD2 none repeat scroll 0% 0%;
color: #FFF;
text-align: center;
height: 522px;
}

#home-where h2 {
text-align: center;
padding: 48px 0px 9px;
margin: 0px;
font-size: 30px;
text-transform: uppercase;
}

#home-where img {
	margin: 20px 0px 4px;
}

.home-where {
font-size: 20px;
font-style: italic;
}

#home-where h3 {
text-align: center;
padding: 10px 0px 20px;
margin: 0px;
font-size: 18px;
text-transform: uppercase;
}

#home-testimonials {
background: rgb(53, 78, 108) url("/img/ic36.png") no-repeat scroll center center / cover;
min-height: 384px;
text-align: center;
color: white;
}

#home-testimonials h2 {
text-align: center;
padding: 30px 0px;
margin: 70px 0px -10px;
font-size: 26px;
}

#home-testimonials .btn {
    margin: 30px 0px;
}

#home-testimonials blockquote {
    direction: ltr;
    border: medium none;
    color: #333;
    font-size: 14px;
    position: relative;
    background: #FFF none repeat scroll 0% 0%;
}

#home-testimonials blockquote::before {
    direction: ltr;
    color: #999;
    content: "“";
    display: inline;
    font-size: 24px;
    line-height: 12px;
    margin: 0px 6px 0px 0px;
    position: relative;
    top: 8px;
}

#home-testimonials blockquote::after {
    content: "";
    position: absolute;
    bottom: -31px;
    left: 50px;
    border-width: 16px 12px;
    border-style: solid;
    border-color: #FFF transparent transparent;
}

#home-testimonials h3 {
    padding: 0px 0px 20px 50px;
    font-size: 14px;
}

@media (max-width: 990px) {
    body .navbar-brand span {
        display:none;
    }   
}


@media (max-width: 767px) {
    body .navbar-brand img {
        margin: -9px 6px 0px 23px;
    }

    body .dl-nav .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    }

    body .dl-nav .navbar-nav > li > form > button {
    padding-top: 10px;
    padding-bottom: 10px;
    }

    body .navbar-collapse, body .navbar-collapse.in {
    max-height: 380px;
    overflow-x: hidden;
    overflow-y: hidden;
    }

    body .dl-nav .navbar-toggle .icon-bar {
        background-color: black;
    }

    body .dl-nav .navbar-toggle:hover .icon-bar {
        background-color: white;
    }
}

/* here ends main page content */


