/* 
    Author     : Tomaz Dragar
    Mail       : <tomaz@dragar.net>
    Homepage   : http://www.dragar.net
*/

.clear{
  font-size: 0px;
  line-height: 0px;
  overflow: hidden;
  width: 0px;
  height: 0px;
  clear: both;
}

h1{
  display: block;
  font-family: arial;
  font-size: 35px;
  color: #39acac;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: bold;
}

h2{
  display: block;
  clear: both;
  font-family: arial;
  font-size: 25px;
  color: #39acac;
  margin-bottom: 20px;
  font-weight: bold;
}
.simple-cropper-images{
  width: 820px;
  margin: 0 auto 20px;
  
}

.cropme{
background-image: url('../img/UploadLight.png');
background-position: center center;
background-repeat: no-repeat;
cursor: pointer;
padding: 25px;
margin: 0 auto;
border: 2px dashed #f1f1f1;
}

.cropme:hover {
  border: 2px dashed #94c6ff;
}

.cropme:hover{
  background-image: url('../img/UploadDark.png');
}

.text{
  font-family: arial;
  font-size: 14px;
  color: #4e4e4e;
  margin-bottom: 20px;
}

.code{
  font-family: arial;
  font-size: 14px;
  color: #4e4e4e;
  margin-bottom: 20px;
  background-color: #f1f1f1;
  padding: 10px;
}

