

body .navbar-brand img {
float: left;
width: 32px;
margin: 6px 6px 0px 23px;
}

body .navbar-brand {
    padding:10px;
}

body .navbar-brand span {
color: #FFF;
font-size: 24px;
font-weight: bold;
padding-top: 4px;
display: inline-block;
}

body .navbar-brand span p:last-child {
font-size: 9px;
margin-top: -11px;
}

body .container-fluid {
    padding-left: 0px;
}

body .navbar-header {
    height: 63px;
    background: rgb(56, 70, 78);
}

.nav-site {
    background: rgb(56, 70, 78);
    padding-bottom: 1px;
}

.nav-site button {
    margin: 11px 8px 11px -4px;
}


.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
color: rgb(188, 188, 191);
background-color: rgb(0, 175, 210);
}

html body {
	background: #f5f5f5;
}

.myrow-schet .mylisth, .myrow-schet .mylist, .myrow-schet .mylistIn, body .myrow {
border: 1px solid #e0e0e0;
border-top: none;	
}

body .myrow {
margin: 15px 0px;
padding: 13px 4px;
background: #FFF;
}

body .myrow.up {
margin-bottom: 0px;
padding: 13px 0px 0px 0px;
}

body .myrow.up, body .myrow.down .list-view div:nth-child(2n) .mylist {
background: #f2f2f2;	
}

body .myrow.up, body .myrow.down .list-view div:first-child .mylist, body .myrow.down .list-view div:first-child .mylistIn {
border-top: 1px solid #e0e0e0;	
}

body .myrow.down {
margin-top: 0px;
padding: 0px;
background: #fafafa;
border-left: none;
}

body .myrow.down .list-view .mylist div, body .myrow.down .list-view .mylistIn div, 
body .myrow.down .mylist2 div, body .myrow.down .mylisth div, body .myrow.down .mylistf div {
border-left: 1px solid #e0e0e0;	
}

body .myrow.down .mylisth div, body .myrow.down .mylistf div {
	padding-top: 10px;
padding-bottom: 10px;
}

body .myrow.down .list-view .mylist div, body .myrow.down .list-view .mylistIn div, body .myrow.down .mylist2 div {
	padding-top: 5px;
padding-bottom: 5px;
min-height: 33px;
}

body .myrow.down .mylist2 div {
min-height: 50px;
}


body .myrow.down .list-view div:nth-child(1) .mylist, body .myrow.down .mylist2:nth-child(odd) {
background: #FFF; 
} 

body .myrow.down .list-view .mylist, body .myrow.down .list-view .mylistIn, body .myrow.down .mylist2, body .myrow.down .mylisth, body .myrow.down .mylistf {
	position: relative;
width: 100%;
float: left;
}

body .myrow.down .mylist2:hover .glyphicon-fullscreen, body .myrow.down .sAdd:hover, 
body .myrow.down .mylist2 .glyphicon-trash:hover {
	color: #00afd2;
	cursor: pointer;
}

body .myrow.down .mylist2:hover {
	background: #f1fdff;
}

.form-controlG {
width: 100%;
padding: 6px 2px;
font-size: 14px;
background-color: transparent;
border: 1px solid #f3f3f3;
}

body .myrow.down.greyTable .mylisth, body .myrow.down.greyTable .mylistf {
border-top: 1px solid #e0e0e0;
border-bottom: 1px solid #e0e0e0;
background: #f2f2f2;
}

body .myrow.down.greyTable .has-error input {
	border: 1px solid red;
}

body .myrow.down .list-view .mylist, body .myrow.down .list-view .mylistIn, body .myrow.down .mylist2 {
	cursor:pointer;
}

body .myrow.down .list-view .mylistIn {
	background: #cecece;
}

body .myrow label {
	font-weight: normal;
}

body .myrow .form-control {
	border-radius: 0px;
box-shadow: none;
}

body h3 {
font-size: 20px;
margin: 5px 0px 29px 0px;
}

.linkBtn, .collapseBtF {
background: transparent;
border: none;
cursor:pointer;
}

.proba, .linkBtn, .collapseBtF, body .collapseBtF a span {
color: #00afd2;
}

body .backTo span, .my-btn span, .collapseBtF span, .linkBtn span {
	font-size: 21px;
}

.collapseBtF span.icText {
top: -5px;
position: relative;
font-size: 14px;
text-decoration: underline;
}

body span.icTextBtn {
top: -4px;
position: relative;
font-size: 14px;
}

.collapseBtF span.icon-blue, .mylist span.icon-blue, .mylistIn span.icon-blue {
    position: relative;
top: -5px;
color: #FFF;
background: #00afd2;
font-size: 14px;
border: none;
padding: 4px;
}

.mylist span.icon-blue {
	right: -15px;
	top:3px;
}

.collapseBtF {
margin: 25px 0px -10px 0px;
}

.proba {
	position: absolute;
bottom: -60px;
text-align: center;
font-size: 12px;
left: 55px;
}

.margint20 {
	margin-top: 20px;
}

.backTo {
	float: left;
width: 100%;
margin: 23px 0px;
}

body .myrow1 {
	height: 112px;
background: #2e3b43;
color: #FFF;
}

.myrow-schet .mylisth {
min-height: 61px;
}

.myrow-schet .mylisth, .myrow-schet .mylist {
background: #FFF;
padding: 10px 5px;
}

.myrow-schet, .myrow-schet .mylisth, .myrow-schet .mylist {
	float: left;
width: 100%;
}

body .parse.parseError {
	background: #9f9f9f;
}

body .balance .balanceHeader {
	margin: -13px -4px 5px -4px;
background: #38464e;
padding: 4px 10px;
font-size: 12px;
font-weight: bold;
}

body .balance .balanceIcon {
font-size: 50px;
padding: 10px;
color: #a3aec5;
}

body .balance .balanceMoney {
float: right;
text-align: right;
font-size: 18px;
padding: 10px 10px;
color: #cfcfcf;
}

